/* ------------------------------ Default Mobile Design ------------------------------ */

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    /* Fonts */
    --ff-primary: 'Outfit', sans-serif;
}

/* -------------------- 
    Global Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: 15px;
    background-color: var(--clr-light-gray);
}
main {
    background-color: var(--clr-white);
    margin: 2rem;
    padding: 1.25rem;
    border-radius: 20px;
    text-align: center;
    max-width: 350px;
}
img {
    width: 100%;
    border-radius: 10px;
}
div {
    margin-top: 24px;
}
h1 {
    font-weight: 700;
    color: var(--clr-dark-blue);
}
p {
    margin-top: 12px;
    margin-bottom: 37px;
    color: var(--clr-grayish-blue);
}
footer {
    color: --clr-dark-blue;
    margin: 2rem;
    text-align: center;
}
a {
    color: var(--clr-grayish-blue);
}
/* -------------------- 
    Class Styles
---------------------*/


